<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">
  <mat-toolbar class="toolbar" color="primary">
    <app-header></app-header>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav">
      <mat-nav-list>
        <a mat-list-item *ngFor="let menu of menu" routerLink="{{menu.sPath}}" routerLinkActive="item-active">
          {{menu.sTitle}}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="main-content-wrap">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
